body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.chat-container {
    max-width: 600px;
    max-height: 600px;
    height: 300px;
    margin: 1% auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
    overflow-y: scroll;
}

.chat-window {
    padding: 14px 0px;
    margin: 0px 20px;
    color: #555;
}

.output p{
    color: #aaa;
    padding: 8px 0px;
    margin: 2px 5px;
}

.actions p{
    color: #575de8;
    padding: 14px 0px;
    margin: 4px 20px;
}

.input-chat {
    display: block;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 0;
    background: #eee;
    margin: 2px 0;
    width: 100%;
}

.button {
    background: #575de8;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 12px 0px;
    width: 100%;
    border-radius: 4px;
    margin: 1px 0;
}

.chat-container-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 600px;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}

.title {
    display: flex;
    justify-content: center;
}